@import "bootstrap/scss/bootstrap";

.dropdown {
  margin: 1vw;
}

.dropdown-menu {
  background-color: #4d4d4d;
  width: 100%;

  cursor: pointer;
  padding: 0.7rem;
  border: none;
  border-radius: 4%;
  transition: background 0.3s ease-in-out;
}

.dropdown-item {
  text-align: center;
  color: whitesmoke;
}
.dropdown-item:hover {
  color: whitesmoke;
  background-color: chocolate;
}
#dropdown-button {
  background-color: #4d4d4d;
  color: whitesmoke;
  cursor: pointer;
  padding: 0.7rem;
  border: none;
  border-radius: 4%;
  transition: background 0.3s ease-in-out;
}
#dropdown-button:hover {
  background-color: chocolate;
}

.dropdown-button:hover {
  background-color: chocolate;
}
