$c-bezier: cubic-bezier(0.1, 0.22, 0.8, 1.13);

.grid-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin: 5vw;
  flex-wrap: wrap;
}

.flip-card {
  color: whitesmoke;
  width: 30vw;
  // min-width: 30vw;
  max-width: 350px;
  height: 30vh;
  z-index: 1000;
  perspective: 2000px;
  margin: 0;
  &-inner {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 20px rgba($color: #000000, $alpha: 1);
    border-radius: 28px;
    transition: all 550ms $c-bezier;
    transform-style: preserve-3d;
  }
  &-front,
  &-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 28px;
    backface-visibility: hidden;
  }
  &-front {
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  &-back {
    font-size: 1rem;
    text-align: center;
    display: grid;
    place-items: center;
    padding: 32px;
    background-color: #3d3d3d;
    transform: rotateY(180deg);
  }
  &:hover .flip-card-inner {
    transform: rotateY(-180deg);
  }
}

@media (max-width: 1000px) {
  .flip-card {
    width: 100%;
  }
}
