.register-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  p {
    margin: 1rem;
    color: #3d3d3d;
    font-size: 1rem;
  }
}

.register-container {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 30vw;
  min-width: 290px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 4%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  label {
    font-size: 1rem;
    color: #3d3d3d;
  }

  .lolo {
    padding: 0.5rem;
    font-size: 1rem;
  }

  .submit-btn {
    background-color: #3d3d3d;
    color: whitesmoke;
    cursor: pointer;
    padding: 0.7rem;
    border: none;
    border-radius: 2%;
    transition: background 0.3s ease-in-out;

    &:hover {
      background-color: chocolate;
    }
  }
}


