.routine-create {
  display: flex;
  flex-direction: column;
  text-align: center;
  p {
    margin: 1rem;
    color: #fff;
    font-size: 1rem;
  }
}

.routine-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1vh;
  width: 30vw;
  min-width: 290px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 4%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  input {
    padding: 0.5rem;
    font-size: 1rem;
  }
  .status-message {
    margin: 1rem;
    color: #fff;
    font-size: 1rem;

    &.shake {
      animation: shake 0.5s ease-in-out;
    }
  }
  .submit-btn {
    background-color: #3d3d3d;
    color: whitesmoke;
    cursor: pointer;
    padding: 0.7rem;
    border: none;
    border-radius: 2%;
    transition: background 0.3s ease-in-out;

    &:hover {
      background-color: chocolate;
    }
  }
}
