.user-container {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 30vw;
  min-width: 290px;
  // background-color: #fff;
  // padding: 2rem;
}

.button-delete {
  width: 30vw ;
  min-width: 290px;
}
