.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
 
  
} .second-container{
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-top: 10px;
  h1{
    margin-top: 3vh;
  }
}

.container-modify-user{
  padding-bottom: 2vh;
}



  @media (min-width: 650px) {
  
  .second-container {
  
    flex-direction: row;
  }
}
