.main-container {
  display: flex;
  flex-direction: column;
  
} .second-container{
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 100px;
  
}

  @media (min-width: 650px) {
  
  .second-container {
  
    flex-direction: row;
  }
}
