.count-content {
    display: flex;   
    justify-content: flex-start;
    padding-top: 10px;
}

.CONTENEDOR-LIKE {
    display: flex;
    flex-direction: column;
    padding-right: 5vw;
}

// .CUENTA-MEGUSTA {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
   
//     font-size: 16px; /* Ajustado el tamaño de la fuente */
// }

.LIKE {
    width: 100%; /* Ajustado el tamaño del botón */
    height: 100%;
    position: relative;
    margin: 10px; /* Ajustado el margen */
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent; /* Fondo inicialmente transparente */
}

.LIKE::before {
    content: '\2764'; /* Código Unicode para el símbolo de corazón */
    font-size: 30px; /* Ajustado el tamaño del corazón */
    color: rgb(81, 76, 76);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.LIKE.red::before {
    color: red; /* Cambia el color del corazón a rojo al agregar la clase "red" */
}

.CONTENEDOR-FAV {
    display: flex;
    flex-direction: column;
    padding-right: 5vw;
}



.FAV {
    width: 40px; /* Ajustado el tamaño del botón */
    height: 40px;
    position: relative;
    margin: 10px; /* Ajustado el margen */
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent; /* Fondo inicialmente transparente */
}

.FAV::before {
    content: '\2605'; /* Código Unicode para el símbolo de corazón */
    font-size: 40px; /* Ajustado el tamaño del corazón */
    color: rgb(81, 76, 76);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.FAV.red::before {
    color: gold; /* Cambia el color del corazón a rojo al agregar la clase "red" */
    content: '\2605';
    font-size: 50px;
}

.number-likes {
    font-size: 1.2rem; /* Ajustado el tamaño de la fuente */
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 8vw; /* Ajustado el ancho mínimo */
    font-family: "Oswald";
}
