.home {
  min-height: 85vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  margin: auto;
  position: relative;
  z-index: 1;

  h1 {
    text-shadow: -2px -2px 1px #000;
  }
}

.main-title {
  text-align: center;
  font-size: 6vw;
  color: whitesmoke;
}
