// ForgotPasswordPage.scss

.forgot-password-container {
    width: 40vw; /* Ajusta el ancho del contenedor en función del ancho de la ventana */
    margin: auto;
    padding: 2vw; /* Ajusta el relleno en función del ancho de la ventana */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega un pequeño sombreado */
  
    div {
      font-size: 4vw; /* Ajusta el tamaño de fuente en función del ancho de la ventana */
      margin-bottom: 1vw; /* Ajusta el margen inferior en función del ancho de la ventana */
    }
  
    p {
      margin-bottom: 1vw; /* Ajusta el margen inferior en función del ancho de la ventana */
    }
  
    form {
      text-align: center; /* Centra los elementos dentro del formulario */
  
      label {
        display: block;
        margin-bottom: 1vw; /* Ajusta el margen inferior en función del ancho de la ventana */
      }
  
      input {
        width: 100%;
        padding: 1vw; /* Ajusta el relleno en función del ancho de la ventana */
        margin-bottom: 3vw; /* Ajusta el margen inferior en función del ancho de la ventana */
        border: 1px solid #ccc;
        border-radius: 3px;
      }
  
      input[type="submit"] {
        width: 60%;
        margin: auto; /* Centra el botón */
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        padding: 1vw; /* Ajusta el relleno en función del ancho de la ventana */
      }
    }
  }
  