// ErrorMessage.scss

.error-container {
    position: relative;
  
    .error-message {
      background-color: #f8d7da; /* Color de fondo de los mensajes de error */
      border: 1px solid #f5c6cb; /* Color del borde de los mensajes de error */
      color: #721c24; /* Color del texto de los mensajes de error */
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
      animation: shake 0.5s ease-in-out; /* Agregamos la animación shake */
    }
  
    @keyframes shake {
      0%, 100% {
        transform: translateX(0); /* Sin transformación al inicio y al final */
      }
      25%, 75% {
        transform: translateX(-5px); /* Mover hacia la izquierda en el medio de la animación */
      }
      50% {
        transform: translateX(5px); /* Mover hacia la derecha en el punto medio de la animación */
      }
    }
  }
  