.order-training-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1vw;
  padding: 1vw;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 1vw;
  width: 60vw;
  align-self: center;
  background-color: #fff;

  .search-group,
  .order-group {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 5px;
      font-size: 1rem;
      color: #3d3d3d;
    }

    input,
    select {
      padding: 0.1rem;
      font-size: 1rem;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
  }

  .order-group {
    select {
      width: 100%;
    }
    label {
      margin-bottom: 27px;
    }
  }

  button {
    place-self: center;
    padding: 10px;
    background-color: #3d3d3d;
    color: whitesmoke;
    border: none;
    width: 5rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;

    &:hover {
      background-color: chocolate;
    }
  }
}

@media (max-width: 768px) {
  .order-training-form {
    grid-template-columns: 1fr;
  }
}
