.remove-user-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  

  h1 {
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  p {
   // margin: 1rem;
    color: #fff;
   // font-size: 1rem;
  }

  .status-message {
    margin: 1rem;
    color: #3d3d3d;
    font-size: 1rem;
    &.shake {
      animation: shake 0.5s ease-in-out;
    }
  }
}

.remove-user-container {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 30vw;
  min-width: 300px;

  background-color: #fff;
  padding: 2rem;
  border-radius: 4%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  

  label {
    font-size: 1rem;
    color: #3d3d3d;
  }

  input {
    padding: 0.5rem;
    font-size: 1rem;
  }

  .submit-btn {
    background-color: #3d3d3d;
    color: whitesmoke;
    cursor: pointer;
    padding: 0.7rem;
    border: none;
    border-radius: 2%;
    transition: background 0.3s ease-in-out;

    &:hover {
      background-color: chocolate;
    }
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}
