ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 0;

  li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    a {
      display: block;
      text-decoration: none;
      color: #3d3d3d;

      p {
        margin: 0;
        padding: 10px;
        font-size: 1.2rem;
        font-weight: bold;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

/* Media query para hacerlo responsive */
@media (max-width: 768px) {
  ul {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
