* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10px;
}

.listTraining {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  list-style: none;

  li {
    a {
      text-decoration: none;

      h2 {
        margin-bottom: 10px;
        text-align: center;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
