@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter&family=Lato:ital,wght@0,300;1,300&family=Montserrat:wght@400;700&family=Oswald&family=Raleway:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald";
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
