@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter&family=Lato:ital,wght@0,300;1,300&family=Montserrat:wght@400;700&family=Oswald&family=Raleway:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald";
}

body {
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  background-image: url("/background-blur.jpg");
  // background-size: cover;
  object-fit: cover;
}
h1 {
  color: whitesmoke;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

main {
  justify-content: center;
  min-height: 85vh;
  display: flex;
  align-items: center;
  margin-bottom: 5vh;
}
