.training-list {
  display: flex;
  flex-direction: column;
  width: 100%;

  h1 {
    text-align: center;
  }
}

.button {
  border: none;
  background-color: white;
  height: 50px;
  width: 50px;

  .next,
  .prev {
    width: 40px;
    height: 40px;
    stroke: none;
    fill: none;
  }

  &:disabled {
    visibility: hidden;  
    opacity: 0;         
    pointer-events: none; 
  }
}