.not-found-page {
  background-image: url("../../images/background-img.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.not-found-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.not-found-title {
  text-align: center;
  font-size: 6em;
  color: whitesmoke;
}
